<p style="color: green"><%= notice %></p>

<%= render @category %>
<%= link_to "Tasks", category_tasks_path(@category) %>

<br><br>

<div>
  <%= link_to "Edit category", edit_category_path(@category) %> |
  <%= link_to "Back to Categories", categories_path %>
</div>
